<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="club.dbg.cms.admin.dao.GiftMapper">
    <resultMap id="BaseResultMap" type="club.dbg.cms.domain.admin.GiftDO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="uid" property="uid"/>
        <result column="room_id" property="roomId"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="gift_num" property="giftNum" jdbcType="INTEGER"/>
        <result column="gift_id" property="giftId" jdbcType="INTEGER"/>
        <result column="gift_name" property="giftName" jdbcType="VARCHAR"/>
        <result column="send_time" property="sendTime" jdbcType="INTEGER"/>
        <result column="paid_gift" property="paidGift" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="base_column_list">
        id, uid, room_id, username, gift_num, gift_id, gift_name, send_time, paid_gift
    </sql>
    <insert id="insertGifts" parameterType="java.util.List">
        INSERT INTO tb_gift
        (room_id, uid, gift_num, gift_id, price, gift_name, username, send_time, paid_gift)
        VALUES
        <foreach collection="list" item="gift" index="index" separator=",">
            (
            #{gift.roomId},
            #{gift.uid},
            #{gift.giftNum},
            #{gift.giftId},
            #{gift.price},
            #{gift.giftName},
            #{gift.username},
            #{gift.sendTime},
            #{gift.paidGift}
            )
        </foreach>
    </insert>
</mapper>