<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="club.dbg.cms.blog.dao.ArticleMapper">
    <resultMap id="BaseResultMap" type="club.dbg.cms.blog.domain.ArticleDO">
        <id column="Id" property="id" jdbcType="INTEGER"/>
        <result column="Author" property="author" jdbcType="VARCHAR"/>
        <result column="Title" property="title" jdbcType="VARCHAR"/>
        <result column="Content" property="content" jdbcType="VARCHAR"/>
        <result column="Status" property="status" jdbcType="INTEGER"/>
        <result column="CreateTime" property="createTime" jdbcType="INTEGER"/>
        <result column="UpdateTime" property="updateTime" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="ArticleResultMap" type="club.dbg.cms.blog.service.article.pojo.ArticleDTO">
        <id column="Id" property="id" javaType="int" jdbcType="INTEGER"/>
        <result column="Author" property="author" javaType="string" jdbcType="VARCHAR"/>
        <result column="Title" property="title" javaType="string" jdbcType="VARCHAR"/>
        <result column="Content" property="content" javaType="string" jdbcType="VARCHAR"/>
        <result column="Status" property="status" javaType="int" jdbcType="INTEGER"/>
        <result column="CreateTime" property="createTime" javaType="long" jdbcType="INTEGER"/>
        <result column="UpdateTime" property="updateTime" javaType="long" jdbcType="INTEGER"/>
        <collection property="categories" ofType="club.dbg.cms.blog.service.article.pojo.ArticleCategoryDTO" column="ArticleId">
            <id column="ArticleCategoryId" property="id" javaType="int" jdbcType="INTEGER"/>
            <result column="ArticleId" property="articleId" javaType="string" jdbcType="VARCHAR"/>
            <result column="CategoryId" property="categoryId" javaType="string" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <sql id="base_column">
        Id, Author, Title, Content, Status, CreateTime, UpdateTime
    </sql>

    <sql id="base_column_list">
        Article.Id, Article.Author, Article.Title,
        Article.Status, Article.CreateTime, Article.UpdateTime,
        ArticleCategory.Id AS ArticleCategoryId, ArticleCategory.CategoryId
    </sql>

    <select id="selectArticleList" resultMap="ArticleResultMap">
        SELECT <include refid="base_column_list"/> FROM Article
        JOIN (SELECT Article.Id FROM Article
            <if test="keyWord != null and keyWord != ''">
                WHERE Article.Title LIKE #{keyWord}
            </if>
        ORDER BY Article.Id DESC LIMIT #{page}, #{pageSize}) tid USING(Id)
        LEFT JOIN ArticleCategory ON Article.Id = ArticleCategory.ArticleId ORDER BY Article.Id DESC
    </select>

    <select id="articleListCount" resultType="int">
        SELECT COUNT(*) AS `count` FROM Article
        <if test="keyWord != null and keyWord != ''">
            WHERE Article.Title LIKE #{keyWord}
        </if>
    </select>

    <select id="selectByTag" resultMap="ArticleResultMap">
        SELECT
            Article.Id,
            Article.Author,
            Article.Title,
            Article.Status,
            Article.CreateTime,
            Article.UpdateTime,
            tid.TagId,
            tid.Id AS ArticleId,
            tid.Tag
        FROM
            Article
                JOIN
            (SELECT
                ArticleTag.Id AS TagId,
                ArticleTag.ArticleId AS Id,
                ArticleTag.Tag
                FROM
                ArticleTag
            WHERE
                Tag LIKE #{tag}
        LIMIT #{page}, #{pageSize}) tid USING (Id)
    </select>
</mapper>
